{% extends 'base.html.twig' %}

{% block title %}Weather Forecast System{% endblock %}

{% block body %}
<h1>Weather Forecast System</h1>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolore error omnis ex aut tenetur dignissimos tempora veritatis nulla, praesentium nostrum cumque rem est animi doloremque eligendi iusto voluptas et expedita.</p>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolore error omnis ex aut tenetur dignissimos tempora veritatis nulla, praesentium nostrum cumque rem est animi doloremque eligendi iusto voluptas et expedita.</p>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolore error omnis ex aut tenetur dignissimos tempora veritatis nulla, praesentium nostrum cumque rem est animi doloremque eligendi iusto voluptas et expedita.</p>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolore error omnis ex aut tenetur dignissimos tempora veritatis nulla, praesentium nostrum cumque rem est animi doloremque eligendi iusto voluptas et expedita.</p>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolore error omnis ex aut tenetur dignissimos tempora veritatis nulla, praesentium nostrum cumque rem est animi doloremque eligendi iusto voluptas et expedita.</p>
{% endblock %}
